<title>{{title}}</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css' />

<script src="https://cdn.socket.io/socket.io-1.4.5.js" defer></script>
<script src="http://code.jquery.com/jquery-1.11.1.js" defer></script>
